[defaults]
inventory            = inventory/
host_key_checking    = False
stdout_callback      = yaml
callbacks_enabled    = profile_tasks
interpreter_python   = auto_silent
retry_files_enabled  = False
nocows               = True
vault_password_file  = ~/.ansible-vault-pass

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
